DESCRIPTION

Simple L4 task that maps the kernel info page and dit header and prints
them out.

It assumes there is a serial port server at the thread id indicated.

TO RUN

1) Make a copy of this directory.

2) Run make. The Makefile should be set up correctly for using the
   L4/MIPS installation.

3) Boot the resulting kernel.img on a supported MIPS R4700 machine.



